<div
  class:list={[
    'w-full',
    'p-6',
    'prose',
    'dark:prose-invert',
    "prose-h2:before:content-['']",
    'prose-h2:before:block',
    'prose-h2:before:w-3',
    'prose-h2:before:h-6',
    'prose-h2:before:bg-neutral-300',
    'dark:prose-h2:before:bg-neutral-600',
    'prose-h2:before:absolute',
    'prose-h2:before:left-0',
    'prose-h2:relative',
    'prose-h2:pl-6',
    'prose-h2:before:-left-4',
    'prose-h2:flex',
    'prose-h2:items-center',
    'prose-h2:before:top-1/2',
    'prose-h2:before:-translate-y-1/2',
  ]}
>
  <slot />
</div>
